* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  z-index: 100;
  background: #fff;
}

nav div {
  display: flex;
  padding: 1em;
  gap: 10em;
}

nav div a {
  text-decoration: none;
  color: var(--black);
  font-family: "NeueMontreal";
  font-weight: 700;
  cursor: pointer;
}
