/* Font Settings */
@font-face {
  font-family: "NeueMontreal";
  src: url("../fonts/NeueMontreal-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("../fonts/NeueMontreal-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("../fonts/NeueMontreal-Black.otf");
  font-weight: 900;
  font-style: normal;
}

/* VARIABLES CSS */
:root {
  --swiper-theme-color: #edb31e;
  --swiper-pagination-bullet-size: 0.6rem;
  --swiper-pagination-bullet-inactive-color: #777;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
}

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NeueMontreal", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
  background-color: #eaedee;
  min-height: 100vh;
}

.product-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: #1a1a1a;
  text-transform: uppercase;
}

.product-header .user-head a {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.product-header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

main {
  padding: 2rem 0;
  position: relative;
}

.card {
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 2rem 0;
  border-radius: 0.5rem;
}

.card h2 {
  font-size: 4rem;
}

.card h2 small {
  font-size: 65%;
  margin-left: 1rem;
}

.card hr {
  border-color: #1a1a1a;
  border-style: solid;
  margin: 2rem -2rem;
  border-bottom: none;
}

.card p {
  font-weight: 300;
  color: #777;
  font-size: 0.8rem;
}

.card .price-quantity p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a1a1a;
}

h2 small::before,
h2 small::after {
  color: #1a1a1a;
}

h2 small::before {
  content: "[";
}
h2 small::after {
  content: "]";
}

.card hr:last-of-type,
.card .photos {
  display: none;
}

[data-model="00"] h2 small {
  color: #edb31e;
}

.carousel {
  position: relative;
}

.swiper-wrapper {
  height: 400px;
}

.swiper img {
  max-height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-controls .swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

.swiper-controls .button-swiper-nav {
  position: absolute;
  z-index: 10;
  top: calc(50% - 3rem);
  width: 2rem;
  height: 2rem;
  background-color: rgba(136, 136, 136, 0.926);
  cursor: pointer;
  border-radius: 0.5rem;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-controls .button-swiper-nav span {
  position: relative;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
}

.swiper-controls .button-left {
  left: 4rem;
}

.swiper-controls .button-left span {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  bottom: 2px;
  left: 2px;
}

.swiper-controls .button-right {
  right: 4rem;
}

.swiper-controls .button-right span {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  top: 2px;
  right: 2px;
}

/* =============> MEDIAQUERIES */
/* For laptops */
@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }
  .product-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 10;
  }
  main {
    padding: 0.2rem;
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
  }
  section {
    scroll-snap-align: start;
    display: flex;
    gap: .5rem;
    height: 100vh;
    align-items: center;
    overflow: hidden;
  }
  .card {
    margin: 0 2rem 0;
    width: 60%;
  }
  .card p {
    column-count: 2;
    column-gap: 1rem;
  }
  .card .price-quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card .price-quantity form {
    margin: 0 -6rem 0 -6rem;
  }
  .card hr:last-of-type {
    display: block;
  }
  .card .photos {
    display: flex;
    gap: 1rem;
  }
  .card .photos div {
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    border: 2px solid #eaeaea;
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .card .photos div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .carousel {
    width: 50%;
    height: 70vh;
  }
  .swiper-wrapper {
    height: 80vh;
  }
  .swiper-controls .button-swiper-nav {
    width: 3rem;
    height: 3rem;
  }
}

/* For Tablets */
/* For phones */
